@page
@model WebApp.Pages.AlbumsModel
<html>
    <head>
        <title>Internet Scripting</title>
    </head>
    <body>
        <div class="jumbotron">
        <h1 class="display-3">@Model.Heading1</h1>
        <hr />
        <p>Chinook Music Company Album Database Access Point</p>
        <p>
        <a class="btn btn-primary" href="Albums">Our Albums</a>
        </p>
        </div>
    </body>
</html>